<section class="game-screen">
 

  <section class="opponent">
        <div class="opponent-life-points">
          <p>Life points<br>
          {{!-- need to insert life points --}} </p>
        </div>
        <div class="opponent-deck-container">
          <div>
          </div>
        </div>
      </section>

      <section class="center">
        <div class="opponent-card">
          {{!-- computer's choice shows up here --}}
        </div>
        <div class="user-card">
        {{!-- user's choice shows up here --}}
        </div>
      </section>

       <section class="center">
        <div class="computer-points">
          {{!-- computer's choice shows up here --}}
        </div>
        <div class="user-points">
        {{!-- user's choice shows up here --}}
        </div>
      </section>

      <section class="user">
        <div class="user-life-points">
          <p>Life points<br>
          {{!-- need to insert life points --}} </p>
          <div class="button-container hidden">
            <button type="button" class="btn btn-primary" id="attackButton">Attack</button>
            <button type="button" class="btn btn-primary" id="defendButton">Defend</button>
          </div>
        </div>
        <div class="user-deck-container">
          {{#each userCards}}
            <div class="card-mini user-card" id="{{id}}">
              <div class="god-card-mini card-mini">
                <div class="card-content">
                  <div class="name-class">
                    <h3>{{name}}</h3>
                  </div>
                  <div class="points-mini">
                    <p data-attack="{{attack_points}}">Attack: {{attack_points}}</p>
                    <p data-defense="{{defense_points}}">Defend: {{defense_points}}</p>
                  </div>
                </div>
              </div>
            </div>
          {{/each}}
      </section>
 
</section>

<script src="/js/game.js"></script>